# Python
__pycache__/
*.pyc
venv/
venv2/

# Streamlit secrets
.streamlit/secrets.toml
dashboard/.streamlit/secrets.toml

# Environment files
.env

# OS
.DS_Store

# Spark Checkpoints and Metadata
checkpoints/
storage/checkpoints/
spark-warehouse/
derby.log
metastore_db/
*.crc
*.tmp
